@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
    background-color: lightblue;
    font-family: 'Lato', sans-serif;
    margin: 0px;

}
h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}
.name {
display: flex;
justify-content: center;
font-size: 35px;
}


p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 50px;

}
a {
    color: black;
}
.text {
    width: 1000px;
    word-wrap: break-word;
    margin-left: 18rem;
}
.PS {
    font-size: 15px;
}